.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: var(--background-gray-400);
}

.buttonWrapper {
  max-width: 140px;
  margin: 0 auto;
}

.heading {
  color: var(--typography-text-gray-200);
}
